/* Skeleton.css */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.skeleton.text {
    height: 1em;
    width: 100%;
    margin-bottom: 0.5em;
}

.skeleton.rect {
    width: 100%;
    height: 100%;
}

.skeleton.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}